<style>
    input:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    #wx_default_tip {
        display: none;
    }
</style>
<div class="container-fluid center-align">
    <div class="d-flex flex-column align-items-center vh-100">
        <div class="d-flex flex-column">
            <div class="text-center my-5">
                <img src="../../assets/logos/irocn.png" alt="logo" width="80px">
            </div>
            <div id="wxqrcode" class="text-center my-3"></div>
        </div>
        <div class="mt-auto" style="bottom: 5px;">
            <small class="text-center fw-lighter">&copy; 2024 iEduX.pro (沪ICP备16027900号-1). All rights reserved.</small>
        </div>
    </div>
</div>
<!--
    <div class="card shadow-lg">
    <div class="card-body p-5">
        <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
        <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
            <div class="mb-3">
                <label class="mb-2 text-muted" for="email">E-Mail Address</label>
                <input id="email" type="email" class="form-control" name="email" [(ngModel)]="inputValue" required autofocus>
                <div class="invalid-feedback">
                    Email is invalid
                </div>
            </div>

            <div class="mb-3">
                <div class="mb-2 w-80">
                    <label class="text-muted" for="password">Verify Code</label>
                    <a href="forgot.html" class="float-end">
                        Send verify code
                    </a>
                </div>
                <input id="password" type="password" class="form-control" name="password" required>
                <div class="invalid-feedback">
                    Verify code is required
                </div>
            </div>

            <div class="d-flex align-items-center">
                <div class="form-check">
                    <input type="checkbox" name="remember" id="remember" class="form-check-input">
                    <label for="remember" class="form-check-label">Remember Me</label>
                </div>
                <button type="submit" class="btn btn-secondary ms-auto">
                    Login
                </button>
            </div>
        </form>
    </div>
    <div class="card-footer py-3 border-0">
        <div class="text-center">
            <small class="text-center fw-lighter">&copy; 2024 iEduX.pro (沪ICP备16027900号-1). All rights reserved.</small>
        </div>
    </div>
</div>
-->