<style>

</style>
<div class="container-fluid center-align">
  <div class="row justify-content-center text-center g-0">
    <img src="../../assets/logos/irocn.png" style="width: 64px;margin-top: 80px;">
    <h4 style="margin-top: 20px;">How can I help you today?</h4>
    <p>version:0.0.7</p>
  </div>
    <div class="row justify-content-center text-cente g-2">
      <div class="col-5">
        <div class="p-3 border" style="border-radius: 10px">
          <h6>Support ChatGPT v3.5 and v4.0 Api</h6>
          <p class="fst-normal">This platform support v3.5 and v4.0 API also it support custom LLM api.</p>
        </div>
      </div>
      <div class="col-5">
        <div class="p-3 border" style="border-radius: 10px">
          <h6>Llma2.0 and 3.0 API support</h6>
          <p class="fst-normal">This platform support v3.5 and v4.0 API also it support custom LLM api.</p>
        </div>
      </div>
      <div class="col-5">
        <div class="p-3 border" style="border-radius: 10px">          
          <h6>Faster train technology support</h6>
          <p class="fst-normal">This platform support v3.5 and v4.0 API also it support custom LLM api.</p>
        </div>
      </div>
      <div class="col-5">
        <div class="p-3 border" style="border-radius: 10px">          
          <h6>Custome and tunne fine service</h6>
          <p class="fst-normal">This platform support v3.5 and v4.0 API also it support custom LLM api.</p>
        </div>
      </div>
      <div class="text-center blockquote-footers" style="margin-top: 80px;">
        <blockquote class="blockquote text-center">
          <p class="mb-0" style="color: rgb(247, 105, 3);">Disclaimer: This is NOT the real ChatGPT, but a wrapper using ChatGPT and others GPTs ! </p>
        </blockquote>
      </div>      
    </div>
</div>

