<style>
  .scrollable-div {
    overflow-y: auto; /* Enable vertical scrollbar */
    height: calc(90vh - 90px); /* Calculate height to take up remaining space */
  }
</style>
<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center" *ngIf="isVisible" style="margin-top: 20px;">
        <img class="justify-content-center" src="../../assets/chatgpt.webp" style="width: 64px;">
        <h4 style="margin-top: 20px;">How can I help you today?</h4>
        <p>version:0.0.3</p>
    </div>
    <!-- msgboard -->
    <div class="row row-cols-1 row-cols-sm-2 g-4 " *ngIf="isVisible" style="margin-top: 60px; margin-left: 60px; margin-right: 60px;">
        <div class="col d-flex flex-column gap-2">
          <h5 class="fw-semibold mb-0 text-body-emphasis">Compare business strategies</h5>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <h5 class="fw-semibold mb-0 text-body-emphasis">Write a spreadsheet formulas</h5>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <h5 class="fw-semibold mb-0 text-body-emphasis">Write a thank-you note</h5>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <h5 class="fw-semibold mb-0 text-body-emphasis">More Usage ..</h5>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <!-- Conversation list -->
      <div class="row" *ngIf="!isVisible" style="margin-top:20px; margin-left: 60px; margin-right: 60px;">
        <div class="col">
          <div class="scrollable-div">
            <div class="scroll-content">
              <h3>{{ title }}</h3>
              <div *ngFor="let message of receivedMessages | keyvalue">
                <markdown [data]="message.value" />
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<!--

  <markdown
  [data]="markdown"
  (ready)="onReady()">
</markdown>
-->