<style>
    .scrollable-div {
      overflow-y: auto; /* Enable vertical scrollbar */
      height: calc(90vh - 90px); /* Calculate height to take up remaining space */
    }
  /* Transparent scrollbar */
  .scrollable-div::-webkit-scrollbar {
    display: none;
    width: 5px;
  }
  .scrollable-div:hover::-webkit-scrollbar {
      display: block;
    }
  .scrollable-div::-webkit-scrollbar-thumb {
    /* Semi-transparent white */
    background-color: rgba(113, 102, 102, 0.5);
    border-radius: 10px;
  }

  .scrollable-div::-webkit-scrollbar-track {
    /* Transparent background */
    background-color: transparent;
  }
  input:focus {
        outline: none !important;
        box-shadow: none !important;
    }  
</style>
<div class="container-fluid center-align">
      <!-- Conversation list -->
      <div class="d-flex flex-column align-items-center vh-100">
        <div class="d-flex justify-content-start">
          <div class="scrollable-div">
            <div class="scroll-content" #messageContainer>
              <h3>{{ title }}</h3>
              <div *ngFor="let message of receivedMessages | keyvalue">
                <markdown [data]="message.value" />
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex row justify-content-center mt-auto">
            <input type="text" class="d-flex form-control flex-grow-1 rounded mb-2" [(ngModel)]="message"
                (keyup.enter)="sendMessage()" placeholder="Chat with ChatGPT ..." />
                <footer class="text-center">
                  <small class="mb-0">Disclaimer: This is NOT the real ChatGPT, but a wrapper using
                    ChatGPT and others GPTs ! </small>
                </footer>
        </div>        
      </div>
</div>